@model AnimeWebApp.Models.AnimeDetailsModel

@{
    ViewData["Title"] = "AnimeDetailsView";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<h3>@Html.DisplayFor(model => model.EnglishTitle)</h3>

<div>
    <h4>Anime Details</h4>
    <hr />
    <img style="float:left;" src="@Model.ImageURL" />
    <dl class="row">
        @if (Model.Score != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Score)
            </dd>
        }
        @if (Model.ListStatus != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ListStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ListStatus)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premiered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premiered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Episodes)
        </dd>
    </dl>
</div>
